<h2>Authorization page</h2>
<form action="/authorization" method="post">
  <div class="mb-3">
    <label class="form-label">Your niсkname</label>
    <input type="text" name="niсkname" class="form-control" placeholder="Enter your niсkname">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="user_password" class="form-control" placeholder="Enter your password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>