<h2>Contacts</h2>
<form action="/contacts" method="post">
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" name="email_address" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">Message</label>
    <textarea class="form-control" rows="3" name="text_email_address" placeholder="Enter yuor text"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>